header{
    width: 100vw;
    height: 100px;
    background-color: greenyellow;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 400px;
    width: 500px;
    object-fit: cover;

}
form{
    display:flex;
    flex-direction: column;
}
label{
    font-size:20px;
    color: hotpink;
}
input{
    width: 300px;
    height:30px;
}